c FNC Phi
c 
p cnf 6 7
-1 -2 0
3 -2 0
3 -4 0
3 -1 0
-1 4 3 0
-1 -2 5 4 6 0
1 2 -3 4 5 6 0

c au dessus le résultat du premier minisat mis au négatif pour test si la fnc admet au moins 2 modeles


c t = 1
c r = 2
c s = 3
c b = 4
c m = 5
c a = 6
